<!--统计智慧园区专用左侧菜单-->
<style>
    #sidebar-menusaa li {
        margin: 10px 0;
    }

    #sidebar-menusaa li ul {
        display: none;
    }

    #sidebar-menusaa li ul li {

        text-align: left;
        margin-left: 40px;
    }

    #sidebar-menusaa li:hover ul {
        display: block;
    }

    #sidebar-menusaa li ul li:hover {
        color: white;
    }
</style>

<aside class="main-sidebar  sidebar-wrapper">
    <section class="sidebar" id="sidebar">
        <!-- Sidebar user panel -->
        <!--<div class="user-panel">
          <div class="pull-left image">
           <a href="{:url('admin/AdminUser/profile',['uid'=>$current_user['uid']])}" class="opentab" tab-name="navtab-collapse-profile" data-selftabhtml="个人资料"><img src="{$current_user.avatar|root_full_path|default='/static/assets/img/default-avatar.svg'}" class="img-circle" style="width: 100%;max-width: 45px;height: auto;" alt=""></a>
          </div>
          <div class="pull-left info">
            <p><a href="{:url('user/User/profile',['uid'=>$current_user['uid']])}" class="opentab" tab-title='个人资料' tab-name="navtab-collapse-profile">{$current_user.nickname}</a></p>
            <i class="fa fa-circle text-success"></i> [<span class="loginout f12">退出</span>]
          </div>
        </div>-->
        <ul class="sidebar-menu" id="sidebar-menusaa">
            <li class="header">
                <span>菜单栏</span>
            </li>
            <li>
                <a href="#">企业管理</a>
                <ul>
                    <li><a href="#">企业列表</a></li>
                    <li><a href="#">知识产权</a></li>
                    <li><a href="#">财务信息列表</a></li>
                    <li><a href="#">企业成员列表</a></li>
                    <li><a href="#">合同管理</a></li>
                    <li><a href="#">投融资信息列表</a></li>
                    <li><a href="#">科技项目资金信息列表</a></li>
                    <li><a href="#">孵化企业管理列表</a></li>
                    <li><a href="#">产学研项目</a></li>
                    <li><a href="#">大学生创业</a></li>
                    <li><a href="#">软件企业</a></li>
                    <li><a href="#">软件产品登记列表</a></li>
                    <li><a href="#">高新技术成果转化项目列表</a></li>
                    <li><a href="#">高新技术企业</a></li>
                    <li><a href="#">财政扶持管理</a></li>
                </ul>
            </li>
            <li>
                <a href="#">项目类型</a>
            </li>
            <li>
                <a href="#">创业苗圃列表</a>
                <ul>
                    <li><a href="#">添加创业苗圃信息</a></li>
                    <li><a href="#">苗圃管理</a></li>
                </ul>
            </li>
            <li>
                <a href="#">房源管理</a>
                <ul>
                    <li><a href="#">可视化房源信息展示</a></li>
                    <li><a href="#">楼层信息管理列表</a></li>
                    <li><a href="#">企业信息关联</a></li>
                </ul>
            </li>
            <li>
                <a href="#">费用管理列表</a>
                <ul>
                    <li><a href="#">缴费录入</a></li>
                    <li><a href="#">费用录入</a></li>
                    <li><a href="#">园区项目预算管理</a></li>
                </ul>
            </li>
            <li>
                <a href="#">停车位</a>
                <ul>
                    <li><a href="#">添加停车位</a></li>
                    <li><a href="#">停车位使用列表</a></li>
                </ul>
            </li>
            <li>
                <a href="#">服务层</a>
                <ul>
                    <li><a href="#">待处理事项</a></li>
                    <li><a href="#">会议室预定列表</a></li>
                    <li><a href="#">实验室租赁</a></li>
                    <li><a href="#">报修管理</a></li>
                    <li><a href="#">活动管理</a></li>
                    <li><a href="#">用户管理</a></li>
                </ul>
            </li>
            <li>
                <a href="#">数据统计</a>
            </li>

        </ul>
    </section>
</aside>

<!--<script id="sidebar_menusa" type="text/html">
  <li class="header">菜单栏</li>
  <% for (var i = 0; i < data.length; i ++) { %>
      <% var vo = data[i]; %>
      <% var child = data[i]._child; %>
      <li class="<% if(child){ %> treeview <% }else{ %>no_tree<% } %>">
        <a href="<% if(child){ %>#<% }else{ %> <%=vo.url %> <% } %>" <% if(!child){ %> class="opentab" tab-name="navtab-collapse-<%=vo.id %>" <% } %> >
            <i class="fa <% if(vo.icon){ %> {{vo.icon}} <% }else{ %>fa-circle-o <% } %>"></i>
              <span>{{vo.title}}</span>
              <% if(child){ %><i class="fa fa-angle-left pull-right"></i> <% } %>
          </a>
        <% if(child){ %>
        <ul class="treeview-menu">
          <% for (var j = 0; j < child.length; j ++) { %>
              <% var v = child[j]; %>
              <% var _child = child[j]._child; %>
              <% if(!_child){ %>
                <li ><a href="{{v.url}}" class="opentab" tab-name="navtab-collapse-<%=v.id %>"><i class="fa <% if(v.icon){ %> {{v.icon}} <% }else{ %>fa-circle-o <% } %>"></i> <%=v.title %></a> </li>
                <% }else{ %>
                 <li ><a href="{{v.url}}" class="opentab" tab-name="navtab-collapse-<%=v.id %>"><i class="fa <% if(v.icon){ %> {{v.icon}} <% }else{ %>fa-circle-o <% } %>"></i> <%=v.title %> <i class="fa fa-angle-left pull-right"></i></a>
                   <ul class="treeview-menu">
                      <% for (var k = 0; k < _child.length; k ++) { %>
                          <% var _v = child[j]; %>
                          <li><a href="{{_v.url}}" class="opentab" tab-name="navtab-collapse-<%=v.id %>"><i class="fa f<% if(_v.icon){ %> {{_v.icon}} <% }else{ %>fa-circle-o <% } %>"></i> <%=_v.title %></a></li>
                      <% } %>

                 </ul>
                  </li>
              <% } %>
          <% } %>
       </ul>
       <% } %>
    </li>
  <% } %>
  &lt;!&ndash;交流社区&ndash;&gt;
  &lt;!&ndash;<li class="header">LABELS</li>
  <li><a href="https://forum.eacoophp.com" target="_blank"><i class="fa fa-circle-o text-red"></i> <span>交流社区</span></a></li>
  <li><a href="https://www.kancloud.cn/youpzt/eacoo" target="_blank"><i class="fa fa-circle-o text-yellow"></i> <span>开发文档</span></a></li>
  <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>联系我们</span></a></li>&ndash;&gt;

  <% if (data.length==0) { %>
      <div class="no-data-div">
        <div class="no-data-icon">
          <i class="iconfont">&#xe612;</i>
        </div>
        <dl>
          <dt>暂无菜单</dt>
          <dd>数据出错</dd>
        </dl>

      </div>
  <% } %>
</script>-->
